*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main-container{
    
    width: 100%;
    height: 100%;


}

.start-page-container{
    width: 1440px;
    height: 900px;
}


.bg-header{
border: 1px solid black;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #FFFFFF;
box-shadow: 0px 18px 18px rgba(0, 12, 58, 0.02);
border-radius: 12px;
width: 1142px;
height: 68px;
}

.clients-block-container{
height: 900px;
left: 0px;
top: 900px;

/* Shades / Dark Gray */

background: #2C2F36;

}